<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
<h2>안녕하세요, {{username}}님!</h2>
<ul>
    <li><a href="/user/board">게시판으로 이동</a></li>
    <li><a href="/user/profile">회원정보 변경</a></li>
</ul>
<form action="/user/logout" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>
